{% extends "base.html" %}

{% block content %}
<div class="d-flex p-2 bd-highlight justify-content-center">
    <div class="row p-5">
        {% for department in departments %}
        <div class="col">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body btn-secondary">
                <h5 class="card-title">{{ department.name }}</h5>
                <a href="/employees#{{ department.name }}" class="btn btn-light">View Department</a>
                <a href="#" class="btn btn-dark">Delete</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}