{% extends "base.html" %}

{% block content %}
<div class="d-flex p-2 bd-highlight justify-content-center">
    <div class="row p-5">
        <div class="col">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body btn-secondary">
                <h5 class="card-title">Employees</h5>
                <p class="card-text">Click below to see a list of employees and their departments.</p>
                <a href="/employees" class="btn btn-dark">Employees</a>
              </div>
            </div>
        </div>
       <div class="col">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body btn-secondary">
                <h5 class="card-title">Departments</h5>
                <p class="card-text">Click below to see a list of departments and their employees.</p>
                <a href="/departments" class="btn btn-dark">Departments</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body btn-secondary">
                <h5 class="card-title">Users</h5>
                <p class="card-text">Click below to see a list of Users.</p>
                <a href="/users" class="btn btn-dark">Users</a>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}