{% extends "base.html" %}

{% block content %}
<div class="d-flex p-2 bd-highlight justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Employees</h5>
                <p class="card-text">Click below to see a list of employees and their departments.</p>
                <a href="employees" class="card-link">Employees</a>
              </div>
            </div>
        </div>
       <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Departments</h5>
                <p class="card-text">Click below to see a list of departments and their employees.</p>
                <a href="departments" class="card-link">Department</a>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}